@font-face {
    font-family: Nevis;
    src: url(font/nevis2.0.ttf);
}


header {
    
    height: 80px;
    border-bottom: 6px solid #0B3457; 
    
    
}

#container  {
    width: 70%;
    height: 100%;
    margin: auto;
    
}

#section2 {
    background-color: #F9F9F9;
    
}


#section1{
    
background:  white;
  background: white
  background: white;
  background: white;
    background-size: 50%;
    background-position: right;
    
}
/*
#section2 {
    background-image: url(../Img/foto_maarten.png);
    background-position: right center;
    background-size: 50%;
    background-repeat: no-repeat;
}
*/

/*
#section1 {
    background-image: url(../Img/foto_maarten1.jpg);
    background-repeat: no-repeat;
    background-size: 100px;
    
}
*/


body { 
     -webkit-font-smoothing: antialiased;
    font: 1.475em Nevis, Sans-serif; 
    margin: 0;
    padding: 0;
    overflow: scroll;
}
#navigation {
  
}

#navigation ul {
  margin: 0;
  margin-top: 25px;  
  padding: 0; 
}
#navigation li {
   font-size: 0.7em;
  
  display: block;
  float: right;
  margin: 0;
}
#navigation .about{
   
}

#navigation a {
  
  color: #0B3457;
  display: block;
  
  text-decoration: none;
  
}
#navigation .contact_spacing {
    padding: 5px 25px;
}
#navigation .work_spacing {
    padding: 5px 35px;
}
#navigation .about_spacing {
    padding: 5px 33px;
}
#navigation a:hover {
  
}
.clearfix {
  *zoom: 1;
}
.clearfix:after, 
.clearfix:before {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.box {
   
	  width: 98.4px;
	  height: 26px;
      margin: auto;
	  position: relative;
    left:-215px;
    top: -35px;
    float:right;

	  border: 6px solid transparent;

	  -moz-border-image: -moz-linear-gradient(left, #083358 0%, #083358 100%);
	  -webkit-border-image: -webkit-linear-gradient(left, #083358 0%, #083358 100%);
	  border-image: linear-gradient(to right,#083358 0%, #083358 100%);

	  border-image-slice: 1;
	
}
.box2 {
    box-sizing:content-box;
   cursor: pointer;
	  width: 98.4px;
	  height: 26px;
      margin: auto;
	  position: relative;
    left:-106px;
    top: -35px;
    float:right;

	  border: 6px solid transparent;

	    -moz-border-image: -moz-linear-gradient(left, #083358 0%, #083358 100%);
	  -webkit-border-image: -webkit-linear-gradient(left, #083358 0%, #083358 100%);
	  border-image: linear-gradient(to right,#083358 0%, #083358 100%);

	  border-image-slice: 1;
	
}
.box3 {
   
	  width: 98.4px;
	  height: 26px;
      margin: auto;
	  position: relative;
    left:2px;
    top: -35px;
    float:right;

	  border: 6px solid transparent;

	  -moz-border-image: -moz-linear-gradient(left, #F5488D 0%, #EB617B 100%);
	  -webkit-border-image: -webkit-linear-gradient(left, #F5488D 0%, #EB617B 100%);
	  border-image: linear-gradient(to right, #F5488D 0%, #EB617B 100%);

	  border-image-slice: 1;
	
}
#portfolio {  
    margin: 1rem 0;
    -webkit-column-count: 3; 
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}
.tile { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}
.tile:hover { 

}

.scale-anm {
  transform: scale(1);
}


p{ 
  padding:10px; 
  border-bottom: 1px #ccc dotted; 
  text-decoration: none; 
  font-family: lato; 
  text-transform:uppercase; 
  font-size: 12px; 
  color: #333; 
  display:block; 
  float:left;
}

p:hover { 
  cursor:pointer; 
  background: #333; 
  color:#eee; }

.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  
}

.btn {
    font-family: Lato;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}


#navigation2 {
  
}

#navigation2 ul {
  margin: 0;
  margin-top: 25px;  
  padding: 0; 
}
#navigation2 li {
   font-size: 0.6em;
  
  display: block;
  float: right;
  margin: 10px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: aliceblue;
    
  
}
#navigation2 .active a {
    color: white;
   
    
}
#navigation2 .active {
     background: -webkit-linear-gradient(left, #F5488D  , #EB617B  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #F5488D, #EB617B ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #F5488D, #EB617B ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #F5488D , #EB617B ); /* Standard syntax */
    
    
     -webkit-box-shadow: 4px 3px 21px 3px rgba(31,31,31,0.2);
-moz-box-shadow: 4px 3px 21px 3px rgba(31,31,31,0.2);
box-shadow: 4px 3px 21px 3px rgba(31,31,31,0.2);
    
}
#navigation2 .about{
   
}

#navigation2 a {
  
  color: #0B3457;
  display: block;
  
  text-decoration: none;
  
}
#navigation2 .contact_spacing {
    padding: 5px 25px;
}
#navigation2 .work_spacing {
    padding: 5px 35px;
}
#navigation2 .about_spacing {
    padding: 5px 33px;
}
#navigation2 a:hover {
  
}
h3 {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    letter-spacing: 0.8px;
    width: 400px;
    font-family: 'Roboto';
    font-size: 0.5em;
    font-weight: 300;
    padding-top: 20px;
    
}

h5 {
    margin:0;
    padding:0;
    
    margin-top: 3px;
    margin-bottom: 10px;
    color: #0B3457;
    font-size: 0.5em;
    opacity: 0.3;
    letter-spacing: 3px;
   text-align: center;
    
    
}






























* {
  box-sizing: border-box;
}




.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }


h5 {
    margin:0;
    padding:0;
    margin-top: 3px;
    margin-bottom: 10px;
    color: #0B3457;
    font-size: 1em;
    opacity: 0.9;
    letter-spacing: 3px;
    
    
    
}

.box {
      display: none;
      }
    .box2 {
      display: none;
      }
    .box3 {
      display: none;
      }
    
    ul {
        display: inline-block;
        
        
      }
    
    #container {
        width: 90%;
        
        
      }
    .aboutinfo-left {
        width: 90%;
        
        
      }
    
    
    .contactinfo
    {
        width: 90%;
        
        
      }
}
